body {
    margin: 0;
    padding: 0;
    background-image: url('../static/start_bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body div {
    margin-top: 40%;
    margin-bottom: 30%;
    margin-right: 50%;
    margin-left: 50%;
    height: 300px;
    width: 600px;
    background: #8a694338;
}