body {
    background-image: url('../static/start_bg.png');
    background-repeat: no-repeat;
    background-position: right top;
}

h2 {
    position: relative;
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: inherit;
}